# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Heavy Weapon.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Admins\Desktop\Unity\Training\Heavy Weapon\.idea\.idea.Heavy Weapon\.idea/dataSources/
/dataSources.local.xml
